{% extends 'base.html' %}


{% block title %}{{ context.book.name }}{% endblock %}

{% block content %}
    <div class="card center-card" style="width: 18rem;">
        <ul class="list-group list-group-flush center-card">
            <li class="list-group-item">Name: {{ context.book.name }}</li>
            <li class="list-group-item">Year: {{ context.book.year }}</li>
            <li class="list-group-item">Author: {{ context.book.author_name}}</li>
            <li class="list-group-item">Price: {{ context.book.price}}</li>
        </ul>
    </div>

    <table class="book-table table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Text</th>
        </tr>
        </thead>
        <tbody>
        {% for review in context.reviews %}
            <tr>
                <th scope="row">{{ review.id }}</th>
                <td>{{ review.text }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
